<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <title>UA Films DB: База даних фільмів, озвучених українською мовою. З відкритих дерел</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <script src="{{ url_for('static', filename='fetch_m3u.js') }}" defer></script>
</head>
<body>  
    <h1>🎬 UA Films DB</h1>
    <h2>База даних фільмів, озвучених українською мовою. З відкритих дерел</h2>
    {% block content %}{% endblock %}
<footer>
    <p>(copyleft) dntPanix (2026) ;)</p>
    <p>Версія: {{ version }}</p>
</footer>
</body>
</html>
