{% extends "base.html" %}
{% block content %}

<h2>{{ item.title_ua }}</h2>

<p><b>Оригінальна назва:</b> {{ item.title_or }}</p>
<p><b>Рік:</b> {{ item.year }}</p>
<p><b>Тип:</b> {{ item.type_src }}</p>
<p><b>IMDb:</b> {{ item.imdb }}</p>

<p><b>Опис:</b><br>{{ item.description }}</p>

<a href="/">← назад</a>

{% for season in seasons %}
    {% if season.season_number == 0 %}
        <h3>Плеєри</h3>
    {% else %}
        <h3>Сезон {{ season.season_number }}</h3>
    {% endif %}

{% from "move_item.html" import render_item %}
    {% for p in playlists_by_season.get(season.season_number, []) %}
        <div class="card">
            {{ render_item(p) }}
            {{ render_item(item) }}
        </div>
    {% endfor %}
{% endfor %}

<a href="/">← назад</a>

{% endblock %}
