{% extends "base.html" %}
{% block content %}

<h2>{{ item.title_ua }}</h2>

<p><b>Оригінальна назва:</b> {{ item.title_or }}</p>
<p><b>Рік:</b> {{ item.year }}</p>
<p><b>Тип:</b> {{ item.type_src }}</p>
<p><b>IMDb:</b> {{ item.imdb }}</p>

{% if item.poster %}
<img src="{{ item.poster }}">
{% endif %}

<p><b>Опис:</b><br>{{ item.description }}</p>

<a href="/">← назад</a>

{% for season in seasons %}
    {% if season.season_number == 0 %}
        <h3>Плеєри</h3>
    {% else %}
        <h3>Сезон {{ season.season_number }}</h3>
    {% endif %}

{% for p in playlists_by_season.get(season.season_number, []) %}
    <div class="card">
      Джерело: {{ p.source }}<br>
      {% if p.ext_player %}
        <a href="{{ p.ext_player }}" target="_blank">🌍 Відтворити у новій  вкладці</a>
        <p></p>
        <iframe 
            src={{ p.ext_player }}
            frameborder="0"
            width="50%"
            height="450"
            allowfullscreen
            allow="autoplay; fullscreen">
        </iframe>
        <p></p>
      {% endif %}
      {% if p.m3u_url %}
       <ul>
            <li><a href="{{ p.m3u_url }}">▶ Передати у зовнішній плеєр</a>
                </li>
            <li><button>Завантажити медіа локально (це ще не працює)</button>
            (УВАГА! Потребує вільного місця, особливо серіали)
                </li>
         </ul>
        
       {% else%}
        <ul>
            <li><button onclick="fetchM3U({{ p._id }})">
                📥 Завантажити посилання для плеєру
                </button>
            </li>
        </ul>
      {% endif %}
    </div>
  {% endfor %}
{% endfor %}

<a href="/">← назад</a>


{% endblock %}
